html{
    font-size: 62.5%;
}
body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.contenedor--flexible{
    border: 0.2em solid blue;
    padding: 0.5em;
    display: flex;
    height: 30em;
    

    /*flex-direction (row, column, row-reverse y column-reverse)*/
    flex-direction: row;

    /*justify-content (fles-start, flex-end, center, space-around, space-between, space-evenly)- MAIN-AXIS(eje de las 'x')*/
    justify-content: space-evenly;

    /*align-items (flex-start, flex-end, center, strech, baseline)*/
    align-items: center;
    flex-wrap: wrap;
}
.contenedor--flexible div{
    background-color: lightblue;
    border: 0.1em solid black;
    height: 10em;
    width: 30em;
    margin: 0.5em;
    
    
}

/*Propiedades FLEX para objetos flexibles*/

.objeto1{
    /*flex-grow: 2;*/
    order: 1;

}

.objeto2{
    /*flex-shrink: 0;*/   
}

.objeto3{
    /*flex-grow: 1;*/
    order: -1;

}

.objeto4{
    order: -2;
}

#cabezon{
    display: flex;
    background-color: orange;
    justify-content: space-around;
}
